*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
.main{
    background-color: rgb(18, 120, 255);
    height: inherit;
    display: grid;
    justify-items: center;
    font-family: sans-serif;
}
.box{
    background-color: whitesmoke;
    display: grid;
    width: 350px;
    height: 300px;
    margin-top: 10px;
    padding: 30px;
    grid-template-rows: 1fr 5fr ;
    row-gap: 10px;
    border-radius: 5px;
}
.box h3{
    justify-self: center; 
    font-size: 25px;
    color: rgb(99, 99, 99);
}
.form{
    display: grid;
    row-gap: 10px;
}
.form input{
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 228, 228);
    text-align: center;
}
.form input:last-child{
    background-color: rgb(18, 120, 255);
    cursor: pointer;
}
.error{
    color: red;
    height: 15px;
}